
.cadastro {
  background-color: #c9d6ff;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.hamburger-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
}

.main-calendar {
  margin-left: 20px;
  flex-grow: 1;
}

button {
  margin-bottom: 20px;
  background-color: #42a5f5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #1e88e5;
}

.sx-react-calendar-wrapper {
  width: 1200px;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}
