


.container {
  background-color: #f4f4f4;
  position: relative;
  

}

.cadastro {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* Mudando para branco para destacar o conteúdo */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Alterado de fixed para relative */
}


/* Títulos */
.titulo {
  font-size: 30px;
  margin-bottom: px;
  margin-top: 20px;
  color: #0017e8;
}

/* Imagem de Perfil */
.img-perfil {
  text-align: center;
  margin-bottom: 20px;
}

.img-perfil img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Inputs */
.input-container {
  margin-bottom: 15px;
}

.input-container span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #007bff;
  outline: none;
}

/* Botões */
.botao-salvar {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 18px;
  transition: background-color 0.3s; /* Transição suave */
}

.botao-salvar:hover {
  background-color: #0056b3;
}

.buttonEdit {
  padding: 5px 10px; /* Ajustando o padding para menor */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; /* Tamanho da fonte */
  margin-right: 5px; 
  background-color: #007bff; /* Cor de fundo */
  color: white; /* Cor do texto */
  transition: background-color 0.3s; /* Transição suave */
}

.buttonEdit:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

/* Lista de Funcionários */
.lista-funcionarios {
  list-style: none;
  padding: 0;
}

.lista-funcionarios li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
  .cadastro {
    padding: 10px;
  }

  .titulo {
    font-size: 20px;
  }

  .img-perfil img {
    width: 80px;
    height: 80px;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .botao-salvar {
    width: 100%;
  }
}